html {
	margin: 0;
	height: 100vh;
	border: 5px solid black;
}
body {
	margin: 0;
	height: 100%;
	border: 5px solid yellow;
}
.StateSelect{

}

.columntop {
	float: left;
	width: 33.33%;
	padding: 10px;
	background-color: lightgreen;
}
.columnbottom {
	float: left;
	width: 50%;
	padding: 10px;
	background-color: lightblue;
}

.toprow:after{
	content: "";
	display: table;
	clear: both;
	background-color: lightgreen;
}
.bottomrow:after{
	content: "";
	display: table;
	clear: both;
	background-color: lightblue;
}
.topHalf{
	height: 10vh;
	margin: 0;
	background-color: lightblue;
}
.bottomHalf{
	height: 80vh;
	margin: 0;
	background-color: lightyellow;
}

.InfoDisplay{
	background-color: lightgreen;
	margin: 0;
	max-height: 400px;
}
.StateImgDiv {
	max-width: 100%;
	max-height: 700px;
}
.DisplayStats{
	max-height: 50%;
	max-width: 100%;
	background-color: lightgreen;
}
